/* 
    General Styles
*/

::-webkit-scrollbar {
    width: 12px; 
    height: 12px;              /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(64, 181, 203);        /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(192, 223, 64);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(64, 181, 203);  /* creates padding around scroll thumb */
  }
